*{
    margin: 0;
    padding: 0;
}
#header{
    overflow: hidden;
    width: 100%;
}
#header img{
    width: 100%;
}
#title{
    width: 900px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#title h2{
    font-size: 45px;
    text-align: center;

}
.singleproduct{
    width: 550px;
    float: left;
    margin-right: 70px;
    overflow: hidden;
}
.singleproduct:first-child{
    margin-left: 100px;
}
.singleproduct:last-child{

}
.singleproduct img{
    width: 100%;
}
.productdetails{
    background-color: brown;
    color: white;
}
.productdetails h3{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}
.productdetails p{
    text-align: center;
    padding: 50px;
    font-size: 30px;
}
.readmorebtn{
    font-size: 30px;
    border: 5px solid brown;
    border-radius: 10px;
    color: brown;
    margin-left: 190px;
    margin-top: 30px;
    margin-bottom: 60px;
}  
#footer{
    background: brown;
    overflow: hidden;
    width: 100%;
}
#footer h4{
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 50px;
}
#footer ul{
    margin-left: 455px;
    text-decoration: none;
    margin-top: 30px;
}
#footer ul li{
    float: left;
    text-decoration: none;
    margin-right: 50px;
    list-style: none;
    margin-bottom: 40px;
}
#copyright p{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#copyright a{
    color: black;
    font-size: 30px;
    margin-left: 510px;
	padding-bottom: 40px;
}